/*+++++++++++ COMMON STYLE +++++++++++*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 100%;
    height: 25rem;
}

.center {
    width: 70%;
    margin: auto;
}

.dashed {
    border: 1px dashed black;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.bg-azzurro {
    background-color: #ADD8E6;
}

.bg-pink {
    background-color: #FFC0CB;
}

.bg-blue {
    background-color: #1E90FF;
}

.bg-grey {
    background-color: #D3D3D3;
}

/*+++++++++++ NAV STYLE +++++++++++*/

body>.bg-azzurro {
    padding-top: 0.5rem;
}

nav {
    background-color: #DAA520;
    display: flex;
}

/* ++++++++++++++++++++++++++++++++ */
nav>div {
    padding: 0.5rem 0.2rem;
}

.logo {
    width: 25%;
}

.login {
    width: 25%;
    text-align: right;
}

.link {
    width: 50%;
    text-align: center;
}

/* ++++++++++++++++++++++++++++++++ */
.rettangolo-main {
    height: 88%;
    margin-top: 0.5rem;
    background-color: #00008B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rettangolo-pink {
    width: 50%;
    height: 80%;
    background-color: #EE82EE;
}

/*+++++++++++1*_2*_3* Sezione STYLE +++++++++++*/
.sezione-std {
    padding-top: 2.5rem;
}

.rettangolo-std {
    height: 20rem;
}

.p-right {
    width: 40%;
    height: 100%;
}

.p-left {
    width: 60%;
    height: 100%;
}

/*+++++++++++4* Sezione STYLE +++++++++++*/